.root {
  margin-top: 40px;
}

.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
  padding: 10px 0;
}

.nav_item {
  display: inline-block;
  text-transform: uppercase;
  padding: 5px 20px;
}